collision
README.txt
.vscode/sftp.json
.DS_Store
*.out
collision_grid
grid.txt
outputs__
grid.txt
inputs2333.txt
outputs_input_rand.txt
run_mac.sh
inputs.txt
old/*
tmp/*
outputs_collision_seq_inputs_20.txt
tmp.txt
run_prog
mf.config
run_mpi_mf.sh
A0209170M_A0210064Y.zip
A0209170M_A0210064Y
